.typewriter-marker {
    animation: marker-blink 1000ms linear 800ms infinite;
}
@keyframes marker-blink {
    0%   {opacity: 0;}
    49%   {opacity: 0;}
    50%  {opacity: 1;}
    100%  {opacity: 1;}
}
